h1 {
  color: red;
  font-weight: lighter;
}

h2 {
  font-style: italic;
  text-align: left;
}

p {
  font-family: initial;
}

ul {
  font-size: 12px;
  line-height: 15px;
}







/*
color,
text-align,
font-style,
font-weight,
font-family,
font-size, and
line-height.*/